@import 'reset';

$vermelho: #E50914;
$preto-dark: #000000;
$cinza-claro: #8C8C8C;
$cinza-escuro: #333333;

body {
  background-blend-mode: overlay;
  background-color: $cinza-escuro;
  background-image: url(../img/netflix-bg.jpg);
}

.logo {
  width: 210px;
  img {
    display: block;
    max-width: 100%;
    cursor: pointer;
    margin-left: 30px;
  }
}

.login-container {
  width: 100%;
  height: 400px;
  margin: 0px auto;
  max-width: 450px;
  border-radius: 5px;
  padding: 60px 68px 40px 68px;
  background-color: transparentize($preto-dark, 0.30);
  
  h1 {
    color: white;
  }

  form {
    input {
      width: 100%;
      padding: 15px;
      border-radius: 5px;
      background-color: $cinza-escuro;
    }

    button {
      display: block;
      width: 100%;
      padding: 15px;
      color: white;
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;
      background-color: $vermelho;
    }
  }
}