@import 'reset';
@import 'mixins';

$azul: #0071eb;
$vermelho: #E50914;
$preto-dark: #000000;
$cinza-claro: #8C8C8C;
$cinza-escuro: #333333;

body {
  background-blend-mode: overlay;
  background-color: $cinza-escuro;
  background-image: url(../img/netflix-bg.jpg);

  @include media(600px) {
    background-color: $preto-dark;
  }
}

.logo {
  width: 210px;
  img {
    display: block;
    max-width: 100%;
    cursor: pointer;
    margin-left: 30px;

    @include media(600px) {
      margin: 0px;
    }
  }
}

.login-container {
  width: 100%;
  margin: auto;
  max-width: 450px;
  border-radius: 5px;
  padding: 60px 68px 40px 68px;
  background-color: transparentize($preto-dark, 0.30);

  @include media(600px) {
    max-width: 100%;
    padding: 20px 25px 30px 25px;
  }

  @include media(375px) {
    padding: 15px 15px 30px 15px;
  }
  
  h1 {
    color: white;
    font-size: 32px;
    margin-bottom: 30px;
  }

  .facebook {
    display: block;
    font-size: 14px;
    color: $cinza-claro;
    margin-bottom: 15px;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .assinar {
    color: $cinza-claro;
    margin-bottom: 15px;

    a {
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .saiba-mais {
    font-size: 13px;
    color: $cinza-claro;
    margin-bottom: 100px;

    a {
      color: $azul;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .login-form {
    input {
      width: 100%;
      padding: 17px;
      color: white;
      border-radius: 5px;
      background-color: $cinza-escuro;

      &::placeholder {
        font-size: 15px;
        color: $cinza-claro;
      }

      &:nth-of-type(1) {
        margin-bottom: 15px;
      }

      &:nth-of-type(2) {
        margin-bottom: 40px;
      }
    }

    button {
      display: block;
      width: 100%;
      padding: 17px;
      color: white;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;
      margin-bottom: 10px;
      background-color: $vermelho;
    }
  }

  .form-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 50px;

    a {
      font-size: 14px;
      color: $cinza-claro;

      &:hover {
        text-decoration: underline;
      }

      @include media(375px) {
        font-size: 13px;
      }
    }

    .lembrar-form {
      label {
        font-size: 15px;
        color: $cinza-claro;

        @include media(375px) {
          font-size: 13px;
        }
      }
    }
  }
}